<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
  }
</style>

<!-- Toolbar 
<nav class="toolbar" role="banner" color ="primary">

</nav>-->


<app-all-tickets></app-all-tickets>

<router-outlet></router-outlet>